In [2]:
import pandas as pd

In [3]:
all_games = pd.read_excel('input/TrainingSet_2023_02_08.xlsx')

### Data Treatment

In [4]:
# Pegando os indices das linhas onde o valor de gols feito pelo time da casa, ou visitante, foi setado como -1, sendo um erro no DataSet
negative_indexes = all_games[(all_games['HS'] < 0) | (all_games['AS'] < 0)].index
all_games.drop(index=negative_indexes, inplace = True, axis=1)

### Initial Analyse

In [16]:
def home_statistics_analyse(row):
    if row['WDL'] == 'W': return 1, 0, 0
    if row['WDL'] == 'D': return 0, 1, 0
    if row['WDL'] == 'L': return 0, 0, 1

def away_statistics_analyse(row):
    if row['WDL'] == 'W': return 0, 0, 1
    if row['WDL'] == 'D': return 0, 1, 0
    if row['WDL'] == 'L': return 1, 0, 0

In [18]:
# Copiando a tabela de todos os jogos para fazer uma análise de desempenho separada entre jogos em casa e fora de casa
home_performance = all_games.copy()
away_performance = all_games.copy()

In [19]:
home_performance[['V','E','D']] = all_games.apply(home_statistics_analyse, axis=1, result_type = 'expand') 
away_performance[['V','E','D']] = all_games.apply(away_statistics_analyse, axis=1, result_type = 'expand')

In [21]:
home_performance.groupby(['Sea','Lge', 'HT']).agg({'V':'sum',
                                                   'E':'sum',
                                                   'D':'sum'})

                                 V  E   D
Sea   Lge  HT
00-01 ARG1 Argentinos Juniors    6  8   5
           Belgrano Cordoba      3  6  10
           Boca Juniors         12  6   1
           CA Colon              7  7   5
           CA Lanus              8  4   7
...                             .. ..  ..
23-24 VEN1 Caracas FC            0  1   0
           Deportivo La Guaira   0  1   0
           Deportivo Tachira     1  0   0
           Metropolitanos FC     0  1   0
           Zamora FC             1  0   0

[17155 rows x 3 columns]

In [22]:
away_performance.groupby(['Sea','Lge', 'AT']).agg({'V':'sum',
                                                   'E':'sum',
                                                   'D':'sum'})

                                   V  E   D
Sea   Lge  AT
00-01 ARG1 Argentinos Juniors      4  5  10
           Belgrano Cordoba        5  7   7
           Boca Juniors            8  5   6
           CA Colon                6  3  10
           CA Lanus                3  6  10
...                               .. ..  ..
23-24 VEN1 Deportivo Rayo Zuliano  0  0   1
           Estudiantes de Merida   0  0   1
           Mineros de Guayana      0  0   1
           Monagas                 0  1   0
           Universidad Central FC  0  1   0

[17156 rows x 3 columns]